{% load i18n %}
<table class="transaction-table">
    <thead>
        <tr>
            <th>{% trans "Your categories" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for cat in categories %}
        <tr>
            <td style="display:flex">{{ cat }}  
                    {% if cat.user %}
                        <span style="margin-left: auto; cursor: pointer; line-height:27px"
                            hx-post="{% url 'transaction:category-delete' cat.pk %}" 
                            hx-target="#category-list"
                        >
                        ✕
                        </span>
                    {% endif %}
                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>