{% extends 'base.html' %}

{% block title %}
	Dashboard
{% endblock %}

{% block body %}
    
<div class="transaction-container">
    {% include 'transaction/transaction_list_filter_form.html' %}

    <table class="transaction-table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in filter.qs %}
            <tr>
                <td>{{ transaction.category }}</td>
                <td class="amount">{{ transaction.amount }} {{ user.currency.symbol }}</td>
                <td>{{ transaction.date }}</td>
                <td class="description">{{ transaction.description|truncatechars:20 }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" style="text-align: center;">No transactions found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
