{% load i18n %}
{{ request.GET }}
    <form method="GET" action="" id="filter-form">
        <label for="id_type">{% trans "Type" %}</label>
        <select name="type" id="id_type" hx-vals='{"category":"{{ request.GET.category }}"}' hx-trigger="load, change" hx-get="{% url 'transaction:get-categories-for-filter' %}" hx-target="#id_category">
            <option value="Notype" {% if request.GET.type == 'Notype' %}selected{% endif %}>---------</option>
            <option value="OUTCOME" {% if request.GET.type == 'OUTCOME' %}selected{% endif %}>{% trans "Outcome" %}</option>
            <option value="INCOME" {% if request.GET.type == 'INCOME' %}selected{% endif %}>{% trans "Income" %}</option>
        </select>
        <label for="id_category">{% trans "Category" %}</label>
        <select name="category" id="id_category">
            {% include 'transaction/category_dropdown.html' %}
        </select>
        {% include 'includes/form_errors.html' %}
        <button type="submit">{% trans "Filter" %}</button>
    </form>