<div class="filter-form">
    <form 
        method="GET" 
        action="" 
        id="filter-form" 
        hx-trigger="load, submit"
        hx-get="{% url "transaction:trans-list-part" %}"
        hx-target="#transaction-list"
        >
        <div class="form-group">
            <label for="id_type">Type</label>
            <select name="type" id="id_type" hx-vals='{"category":"{{ request.GET.category }}"}' hx-trigger="load, change" hx-get="{% url 'transaction:get-categories-for-filter' %}" hx-target="#id_category">
                <option value="Notype" {% if request.GET.type == 'Notype' %}selected{% endif %}>---------</option>
                <option value="OUTCOME" {% if request.GET.type == 'OUTCOME' %}selected{% endif %}>Outcome</option>
                <option value="INCOME" {% if request.GET.type == 'INCOME' %}selected{% endif %}>Income</option>
            </select>
        </div>

        <div class="form-group">
            <label for="id_category">Category</label>
            <select name="category" id="id_category">
                {% include 'transaction/category_dropdown.html' %}
            </select>
        </div>

        <div class="form-group" style="width: 100%;">
            <label for="id_date">Date</label>
            {{ filter.form.date }}
        </div>

        <div class="form-group">
            <label for="id_sort_by">Sort By</label>
            {{ filter.form.sort_by }}
        </div>

        <div class="form-group">
            <label for="id_description">Description</label>
            {{ filter.form.description }}
        </div>

        <button type="submit">Filter</button>
    </form>
</div>