{% if form.non_field_errors %}
<div class="nonfield-errors">
    <ul>
        {% for error in form.non_field_errors %}
            <li>
                <i class="fas fa-exclamation-circle"></i>
                {{ error }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% for field in form %}
    {% if field.errors %}
        <div class="error-message">
            <i class="fas fa-exclamation-circle"></i>
            {{ field.errors.0 }}
        </div>
    {% endif %}
{% endfor %} 