<div>
    <canvas id="stats_dynamic_last_month"></canvas>
</div>

<script>
    const ctx = document.getElementById('stats_dynamic_last_month');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ labels|safe }},
            datasets: [
                {
                    label: 'Expense',
                    data: {{ outcome|safe }},
                    borderWidth: 1
                },
                {#{#}
                {#    label: 'Income',#}
                {#    data: {{ income|safe }},#}
                {#    borderWidth: 1#}
                {#},#}

            ]
        },
        options: {
            scales: {
                y: {
                    type: 'logarithmic',
                    beginAtZero: true,
                }
            }
        }
    });
</script>
