{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
    	    Base
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <header style="border-bottom: 1px black solid; flex-direction: row">
        <div class="header-content">
            <h1 class="logo">
                Finance Manager
            </h1>
            <nav class="nav">
                {% if user.is_authenticated %}
                    <a href="{% url 'dashboard:dashboard' %}" class="nav-link">Dashboard</a>
                    <div class="dropdown">
                        <div onclick="dropdownShow()" class="dropdown-text">
                            Transaction
                        </div>
                        <div id="dropdown-content" class="dropdown-content">
                            <a href="{% url 'transaction:create-trans' %}" class="nav-link">New transaction</a>
                            <a href="{% url 'transaction:create-rec-trans' %}" class="nav-link">New recurring transaction</a>
                            <a href="{% url 'transaction:trans-list' %}" class="nav-link">History</a>
                        </div>
                    </div>
                    <a href="{% url 'transaction:category' %}" class="nav-link">Categories</a>
                    <a href="{% url 'stats:stats' %}" class="nav-link">Statistics</a>

                    {% firstof user.firstname user.email %}

                    <form action="{% url 'authapp:logout' %}" method="POST"  class="logout-form">
                        {% csrf_token %}
                        <button class="logout-button">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'authapp:login' %}" class="nav-link">LogIn</a>
                    <a href="{% url 'authapp:register' %}" class="nav-link">Register</a>
                {% endif %}
            </nav>
        </div>
    </header>


    <main class="main-content">
        {% block body %}

        {% endblock %}
    </main>

    <script src="https://unpkg.com/htmx.org"></script>
    <script>
        function dropdownShow() {
            document.getElementById("dropdown-content").classList.toggle("show");
        }
        window.onclick = function(event) {
            if (!event.target.matches(".dropdown-text")){
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdown.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains("show")) {
                        openDropdown.classList.remove("show");
                    }
                }
            }
        }
    </script>
</body>
</html>
