{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans "New Transaction" %}
{% endblock %}

{% block body %}
    <form action="" method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_account">{% trans "Account" %}</label>
            {{ form.account }}
            {% if form.account.errors %}
                <div class="error">{{ form.account.errors }}</div>
            {% endif %}
        </div>

        <!-- <div class="form-group">
            <label for="id_type">Type</label>
            {{ form.type|attr:"hx-trigger:load,change hx-get:"|safe }}
            {% if form.type.errors %}
                <div class="error">{{ form.type.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_category">Category</label>
            {{ form.category }}
            {% if form.category.errors %}
                <div class="error">{{ form.category.errors }}</div>
            {% endif %}
        </div> -->

        <div class="form-group">
            <label for="id_type">{% trans "Type" %}</label>
            <select name="type" id="id_type" hx-trigger="load, click" hx-get="{% url 'transaction:get-categories' %}" hx-target="#id_category">
                <option value="OUTCOME">{% trans "Outcome" %}</option>
                <option value="INCOME">{% trans "Income" %}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="id_category">{% trans "Category" %}</label>
            <select name="category" id="id_category">

            </select>
        </div>

        <div class="form-group">
            <label for="id_date">{% trans "Date" %}</label>
            {{ form.date }}
            {% if form.date.errors %}
                <div class="error">{{ form.date.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_amount">{% trans "Amount" %}</label>
            {{ form.amount }}
            {% if form.amount.errors %}
                <div class="error">{{ form.amount.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_description">{% trans "Description" %}</label>
            {{ form.description }}
            {% if form.description.errors %}
                <div class="error">{{ form.description.errors }}</div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">{% trans "Create Transaction" %}</button>
    </form>

{% endblock %}
