{% extends 'base.html' %}
{% load static %}

{% block title %}
	Statistics
{% endblock %}

{% block body %}
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-heatmap.min.js"></script>

    {% include 'stats/stats_date_filter_form.html' %}

    <div class="metrics">
        <div class="card">
            <h3>Income</h3>
            <p>{{ total_income }} {{ user.currency.symbol }}</p>
        </div>
        <div class="card">
            <h3>Expense</h3>
            <p>{{ total_expense }} {{ user.currency.symbol }}</p>
        </div>
        <div class="card">
            <h3>Balance (income-expense)</h3>
            <p>{{ balance }} {{ user.currency.symbol }}</p>
        </div>
    </div>

    <div class="charts">
        <div class="chart-container">
            <canvas id="incomeExpenseChart"></canvas>
        </div>

        <div class="chart-container">
            <canvas id="expenseDistributionChart"></canvas>
        </div>

        <div class="chart-container" style="width: 700px;">
            <canvas id="expenseCateoriesFreqChart"></canvas>
        </div>

        <div class="chart-container" style="width: 700px;">
            <div id="heatMap" style="height:100%"></div>
        </div>
    </div>


    <div class="transaction-container">
        <div class="filter-form">
            <form 
                method="GET" 
                hx-trigger="load, change" 
                hx-vals='{"date_min":"{{ request.GET.date_min }}",
                        "date_max": "{{ request.GET.date_max }}"}' 
                action="" id="filter-form" 
                hx-get="{% url 'transaction:trans-list-part' %}" 
                hx-target="#transaction-list"
            >
                <label for="id_type">Type</label>
                <select name="type" id="id_type" hx-vals='{"category":"{{ request.GET.category }}"}' hx-trigger="load, change" hx-get="{% url 'transaction:get-categories-for-filter' %}" hx-target="#id_category">
                    <option value="Notype" {% if request.GET.type == 'Notype' %}selected{% endif %}>---------</option>
                    <option value="OUTCOME" {% if request.GET.type == 'OUTCOME' %}selected{% endif %}>Outcome</option>
                    <option value="INCOME" {% if request.GET.type == 'INCOME' %}selected{% endif %}>Income</option>
                </select>
                <label for="id_category">Category</label>
                <select name="category" id="id_category">
                    {% include 'transaction/category_dropdown.html' %}
                </select>
                <label>Sort by</label>
                {{ filter.form.sort_by }}
            </form>
        
        </div>
    
        <div id="transaction-list">
            {% comment %} {% include "transaction/transaction_list_for_stats.html" %} {% endcomment %}
        </div>
    </div>
        


     <script>
        const incomeExpenseCtx = document.getElementById('incomeExpenseChart').getContext('2d');
        new Chart(incomeExpenseCtx, {
            type: 'line',
            data: {
                labels: {{ labels|safe }},
                datasets: [
                    {
                        label: 'Income',
                        data: {{ income_data|safe }},
                        borderColor: '#4CAF50',
                        fill: false
                    },
                    {
                        label: 'Expense',
                        data: {{ expense_data|safe }},
                        borderColor: '#F44336',
                        fill: false
                    }
                ]
            },
            options: {
                devicePixelRatio: 2,
                maintainAspectRatio: false,
                responsive: true,
                scales: {
                    x: { title: { display: true, text: 'Date' } },
                    y: { type: 'logarithmic', title: { display: true, text: 'Sum' } }
                }
            }
        });

        const expenseDistributionCtx = document.getElementById('expenseDistributionChart').getContext('2d');
        new Chart(expenseDistributionCtx, {
            type: 'polarArea',
            data: {
                labels: [{% for c in expense_categories %}{% if c.category__name %}"{{ c.category__name }}"{% else %}"Other"{% endif %}, {% endfor %}],
                datasets: [{
                    data: [{% for c in expense_categories %}
                    {{ c.total }},
                {% endfor %}],
                    backgroundColor: [
                        '#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF',
                        '#FF9F40', '#FFCD56', '#C9CBCF', '#4D5360', '#F7464A'
                    ]
                }]
            },
            options: {
                devicePixelRatio: 2,
                maintainAspectRatio: false,
                responsive: true,
                plugins: {
                    legend: { position: 'bottom' }
                }
            }
        });
        
        const expenseCateoriesFreqChart = document.getElementById('expenseCateoriesFreqChart').getContext('2d');
        new Chart(expenseCateoriesFreqChart, {
            type: 'doughnut',
            data: {
                labels: [{% for c in expense_frequency_categories %} "{{ c }}", {% endfor %}],
                datasets: [{
                    data: [{% for v in expense_frequency_values %}
                    {{ v }},
                    {% endfor %}],
                    backgroundColor: [
                        '#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF',
                        '#FF9F40', '#FFCD56', '#C9CBCF', '#4D5360', '#F7464A'
                    ]
                }]
            },
            options: {
                devicePixelRatio: 2,
                maintainAspectRatio: false,
                responsive: true,
                plugins: {
                    legend: { position: 'bottom' }
                }
            }
        });

        let heatMap = anychart.heatMap(
            [
                {% for week in weeks_names_for_heatmap %}
                    {% for weekday in day_names_for_heatmap %}
                        {x: "{{ weekday }}", y: "{{ week }}", heat: ''},
                    {% endfor %}
                {% endfor %}

                {% for i in heatmap %}
                    {
                        x: "{{ i.x }}",
                        y: "{{ i.y }}",
                        heat: {{ i.heat }},
                    },
                {% endfor %}

            ]);

        heatMap.title("Heatmap");
        heatMap.container('heatMap');
        heatMap.yScroller().enabled(true);
        heatMap.yZoom().setToPointsCount(5);
        heatMap.draw();
    </script>

{% endblock %}
