{% extends 'base.html' %}
{% load i18n %}

{% block title %}
	{% trans "Login" %}
{% endblock %}

{% block body %}

	<div class="form-container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_email">{% trans "Email" %}</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="id_password">{% trans "Password" %}</label>
                {{ form.password }}
                <div class="password-actions">
                    <a href="{% url 'authapp:password_reset' %}" class="forgot-password-link">
                        <i class="fas fa-key"></i> {% trans "Forgot Password?" %}
                    </a>
                </div>
            </div>
            {% include 'includes/form_errors.html' %}
            <button type="submit">{% trans "Login" %}</button>
        </form>
    </div>

{% endblock %}
