<div class="filter-form">
    <form method="GET" action="" id="filter-form">
        <div class="form-group">
            <label for="id_date_min">From Date</label>
            {{ filter.form.date_from }}
        </div>
        <div class="form-group">
            <label for="id_date_max">To Date</label>
            {{ filter.form.date_to }}
        </div>
        {% include 'includes/form_errors.html' %}
        <button type="submit">
            <i class="fas fa-calendar"></i> Apply Date Filter
        </button>
    </form>
</div>