{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
	Statistics
{% endblock %}

{% block body %}
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-heatmap.min.js"></script>

    {% include 'stats/stats_date_filter_form.html' %}

    <div class="metrics">
        <div class="card">
            <h3>{% trans "Income" %}</h3>
            <p class="income">{{ total_income }} {{ user.currency.symbol }}</p>
        </div>
        <div class="card">
            <h3>Expense</h3>
            <p class="expense">{{ total_expense }} {{ user.currency.symbol }}</p>
        </div>
        <div class="card">
            <h3>Balance</h3>
            <p class="balance">{{ balance }} {{ user.currency.symbol }}</p>
        </div>
    </div>

    <div class="charts">
        <div class="chart-container">
            <h3>Income vs Expense</h3>
            <div>
                <canvas id="incomeExpenseChart"></canvas>
            </div>
        </div>

        <div class="chart-container">
            <h3>Expense Categories Frequency</h3>
            <div>
                <canvas id="expenseCateoriesFreqChart"></canvas>
            </div>
        </div>

        <div class="chart-container">
            <h3>Activity Heatmap</h3>
            <div id="heatMap" style="height:300px;"></div>
        </div>
    </div>

    <div class="filter-form">
        <form 
            method="GET" 
            hx-trigger="load, change" 
            hx-vals='{"date_min":"{{ request.GET.date_min }}",
                    "date_max": "{{ request.GET.date_max }}"}' 
            action="" id="filter-form" 
            hx-get="{% url 'transaction:trans-list-part' %}" 
            hx-target="#transaction-list"
        >
            <div class="form-group">
                <label for="id_type">Type</label>
                <select name="type" id="id_type" hx-vals='{"category":"{{ request.GET.category }}"}' hx-trigger="load, change" hx-get="{% url 'transaction:get-categories-for-filter' %}" hx-target="#id_category">
                    <option value="Notype" {% if request.GET.type == 'Notype' %}selected{% endif %}>---------</option>
                    <option value="OUTCOME" {% if request.GET.type == 'OUTCOME' %}selected{% endif %}>Outcome</option>
                    <option value="INCOME" {% if request.GET.type == 'INCOME' %}selected{% endif %}>Income</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="id_category">Category</label>
                <select name="category" id="id_category">
                    {% include 'transaction/category_dropdown.html' %}
                </select>
            </div>
            
            <div class="form-group">
                <label for="id_sort_by">Sort by</label>
                {{ filter.form.sort_by }}
            </div>
        </form>
    </div>
    <div class="transaction-container">
        
    
        <div id="transaction-list">
            {% comment %} {% include "transaction/transaction_list_for_stats.html" %} {% endcomment %}
        </div>
    </div>
        


     <script>
        const incomeExpenseCtx = document.getElementById('incomeExpenseChart').getContext('2d');
        new Chart(incomeExpenseCtx, {
            type: 'line',
            data: {
                labels: {{ labels|safe }},
                datasets: [
                    {
                        label: 'Income',
                        data: {{ income_data|safe }},
                        borderColor: '#6366f1',
                        backgroundColor: 'rgba(16, 185, 129, 0.1)',
                        fill: true
                    },
                    {
                        label: 'Expense',
                        data: {{ expense_data|safe }},
                        borderColor: 'rgb(230, 40, 40)',
                        backgroundColor: 'rgba(239, 68, 68, 0.1)',
                        fill: true
                    }
                ]
            },
            options: {
                devicePixelRatio: 2,
                maintainAspectRatio: false,
                responsive: true,
                scales: {
                    x: { title: { display: true, text: 'Date' } },
                    y: { type: 'logarithmic', title: { display: true, text: 'Sum' } }
                }
            }
        });

        const expenseCateoriesFreqChart = document.getElementById('expenseCateoriesFreqChart').getContext('2d');
        new Chart(expenseCateoriesFreqChart, {
            type: 'doughnut',
            data: {
                labels: [{% for c in expense_frequency_categories %} "{{ c }}", {% endfor %}],
                datasets: [{
                    data: [{% for v in expense_frequency_values %}
                    {{ v }},
                    {% endfor %}],
                    backgroundColor: [
                        '#4f46e5', '#0ea5e9', '#10b981', '#ef4444', '#f59e0b',
                        '#6366f1', '#8b5cf6', '#ec4899', '#14b8a6', '#f43f5e'
                    ]
                }]
            },
            options: {
                devicePixelRatio: 2,
                maintainAspectRatio: false,
                responsive: true,
                plugins: {
                    legend: { position: 'bottom' }
                }
            }
        });

        let heatMap = anychart.heatMap(
            [
                {% for week in weeks_names_for_heatmap %}
                    {% for weekday in day_names_for_heatmap %}
                        {x: "{{ weekday }}", y: "{{ week }}", heat: ''},
                    {% endfor %}
                {% endfor %}

                {% for i in heatmap %}
                    {
                        x: "{{ i.x }}",
                        y: "{{ i.y }}",
                        heat: {{ i.heat|stringformat:".2f" }},
                    },
                {% endfor %}

            ]);

        heatMap.title().remove();
        heatMap.container('heatMap');
        heatMap.yScroller().enabled(true);
        heatMap.yZoom().setToPointsCount(5);
        heatMap.draw();
    </script>

{% endblock %}
